<h1><b> Employee Listing </b></h1>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let employee"> {{employee.name}} </td>
  </ng-container>

  <!-- Last Event Date Column -->
  <ng-container matColumnDef="lastEventDate">
    <th mat-header-cell *matHeaderCellDef> Last Event Date </th>
    <td mat-cell *matCellDef="let employee"> {{employee.lastEventDate}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>
<h2><b> Next employee organizer</b>: {{findNameNextEmployeeOrganizer()}}</h2>
